extends ./layout.jade

block title
	title Типовая страница

block css
	
block js
	script(src="//api-maps.yandex.ru/2.1/?lang=ru_RU")
	script(src="assets/js/yandex.js")


block content
	.b-m
		.b-r
			.b-r__t
				.b
					img(src="assets/img/kal5.jpg", alt="Настольный игры")
					.b__overlay
						.b__text 
							.h А вот и бонус
							span Теперь вы можете получить каждый 10-й кальян в подарок. Достаточно взять нашу фирменную карту и отмечать каждый выкуренный кальян.
			.b-r__b
				.b#map
					.b__overlay.b__overlay_full
						.b__text 
							i.fa.fa-map-marker
							| Проспект Ленина 73
						.b__add-text В ОверПаке вас всегда ждёт уютная обстановка и доброжелательные кальянщики, которые не оставят вас без внимания. Нашей целью является создание позитивных эмоций от проведённого у нас времени. Мы отобрали лучшие табаки со всего мира, привезли уникальные кальяны, сделанные вручную и вкладываем всё мастерство в создание маленького дымного чуда.
		.b-l
			.b
				img(src="assets/img/kal3.jpg", alt="Чаи в кальянной OverPack")
				.b__overlay
					.b__text 
						.h В ОверПаке стабильно более 30 вкусов ДаркСайда
						span Суперновы всё ещё нет, зато появился Холодок от Гастро. Эффект абсолютно аналогичен. Приходи, мы сможем подобрать сочетание, которое тебе ещё не приходилось пробовать.
