<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=1320")
		block title
			title Страница
		link(href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,400,300,600,700&subset=all',rel='stylesheet',type='text/css')
		link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css", rel="stylesheet", integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1", crossorigin="anonymous")
		link(rel="stylesheet", href="assets/css/main.css")
		block css
		script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
		script.
			window.jQuery || document.write('<script src="assets/js/vendor/jquery-1.11.1.min.js"><\/script>')	
		<!--[if (gte IE 5)&(lte IE 9)]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
	body
		<!--[if lt IE 8]>
		<p class="browsehappy">Вы используете <strong>устаревшую</strong> версию браузера. Пожалуйста <a href="http://browsehappy.com/">обновите ваш браузер</a> до последней версии.</p>
		<![endif]-->
		.page
			// HEAD BEGIN
			header
				.main
					.header-l 
						.logo overpack
					.header-r
						span.phone
							i.fa.fa-mobile 
							span.phone-pre +7
							span.phone-number  913 345 34 34
			// HEAD END
			// MAIN BEGIN
			.section
				.full-width
				.main
					block content
			// MAIN END
			.footer-shiv
		// FOOTER BEGIN
		footer
			.main
				.footer-l.vcard
					div
						span.category Кальянная
						span.fn.org  OverPack
					.adr				
						span.locality г. Челябинск,
						span.street-address  проспект Ленина 73
					div	Телефон
						span.tel  +7 913 345 34 34
					div Мы работаем 
						span.workhours ежедневно с 16:00
				.footer-r
					.socials
						a(href="https://vk.com/che_hl" target="_blank").fa.fa-vk
						a(href="https://www.instagram.com/overpack_che/" target="_blank").fa.fa-instagram

		// FOOTER END

		//- script(src="assets/js/main.js")
		block js
		